body{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #233D58;
    position: relative;
}

@media screen and (min-width: 480px){
    body{
        background: red;
    }
}

@media screen and (min-width: 600px){
    body{
        background: orange;
    }
}

@media screen and (min-width: 767px){
    body{
        background: yellow;
    }
}

@media screen and (min-width: 950px){
    body{
        background: green;
    }
}
